POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hotel_booking
REDIS_HOST=redis
REDIS_PORT=6379
SECRET_KEY=yoursecretkey
MAPBOX_ACCESS_TOKEN=pk.your.token
STRIPE_API_KEY=sk_test_...
RAZORPAY_KEY_ID=rzp_test_...
RAZORPAY_KEY_SECRET=...
